.body-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.sidenav-menu {
  padding: 20px;
  width: 350px;
}
